body{
	padding-top: 50px;
	width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#logo{
	width: 150px;
	margin-top: -35px;
}

#monarch-logo{
	width: 50px;
}

#settings{
	width: 40px;
}

.archive-menu-thumbnail{
	width: 150px;
}

#addMonarchBtnContainer{
	padding-right: 25px;
	padding-left: 25px;
}

#editMonarchRow{
	display: none;
}

#monarch-device-nav{
	width: 100px;
	margin: 0;
}

#monarch-device-nav li{
	text-align: center;
	width: 100%;
}

#monarch-device-collapse{
	width: 100px;
	display: none;
	position: absolute;
	top: 60px;
	left: 180px;
	padding: 10px 0px;
	z-index: 5;
	text-align: center;
	background-color: rgb(250,250,250);
	border: 1px solid #e7e7e7;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#settings-collapse{
	display: none;
	position: absolute;
	top: 60px;
	left: 240px;
	padding: 10px 20px;
	z-index: 5;
	text-align: center;
	background-color: rgb(250,250,250);
	border: 1px solid #e7e7e7;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#monarch-device-collapse::before, #settings-collapse::before{
	content: "";
	position: absolute;
	top: -16px;
	left: 0;
	z-index: 4;
	border: 8px solid transparent;
	border-width: 8px 12px;
	border-bottom-color: rgb(250,250,250);
	background: transparent;
}

#monarch-device-collapse::after,  #settings-collapse::after{
	content: "";
	position: absolute;
	top: -18px;
	left: -2px;
	z-index: 3;
	border: 9px solid transparent;
	border-width: 9px 14px;
	border-bottom-color: #e7e7e7;
	background: transparent;
}

#signinButton1>div, #signinButton2>div,
#signinButton1>div button, #signinButton2>div button,
#signinButton1>div iframe, #signinButton2>div iframe{
	width: 112px !important;
	height: 36px !important;
}

.monarch-device-img{
	width: 100%;
}

#startStream, #stopStream{
	width: 100%;
	height: 100%;
}

.stream-nav{
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
	margin-right: 0;
}

#newStreamBtn{
	padding: 6px 12px;
}

#yt-form{
	padding-top: 50px;
	padding-bottom: 50px;
}

#streamingPanel{
	display: none;
}

#settings-btn{

}

.archived-video-scroll{
	width: auto;
	height: auto;
	max-height: 355px;
	overflow-x: hidden;
}

/* Mimic Bootstrap DropDown Menu
   ------Anchor Styles----------*/
.archived-video-scroll>li>button, .dropdown-menu>li>button{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	white-space: nowrap;
}

#archived-videos-page-view{
	padding: 0;
	margin: 0;
}

@media (max-width: 768px){
	.yt-img{
		width: 100%;
	}
}
